<div class='viewContainer'>
    <h2>Welcome to my portfolio</h2>
    <p>
        Click on the buttons below to be sent to the corresponding page.
    </p>
    <div>
        <a href="/resume"><button>Resume</button></a>
        <a href="/projects"><button>Projects</button></a>
        <a href="/contactme"><button>Contact Me</button></a>
    </div>
</div> 