<div class='viewContainer'>
    <h1>Welcome</h1>
    <p>
        Hello, I am Melvin. A future full stack
        developer. I enjoy playing video games in my free time.
    </p>
    <div class='buttonContainer'>
        <a href="https://github.com/campe0n"><button>
                <p>Github</p>
            </button></a>
        <a href="https://www.linkedin.com/in/melvin-finn-00a910206/"><button>
                <p>LinkedIn</p>
            </button></a>
    </div>
</div>