<div class='viewContainer'>
    <h2>Projects</h2>
    <h3>Holiday Search</h3>
    <a href="https://github.com/gannacon/Project_1" class='projectImage' target="_blank" rel="noopener noreferrer">
        <img src="images/public/images/test1.JPG" alt='Image of holiday search.'>
    </a>
    <h3>The Event Planning Site</h3>
    <a href="https://github.com/brownnicholasj/the-event-planning" class='projectImage' target="_blank" rel="noopener noreferrer">
        <img src="/public/images/eventplanning.PNG" alt="Image of event planning.">
    </a>
    <h3>Day Scheduler</h3>
    <a href="https://github.com/campe0n/dplanner_mf" class='projectImage' target="_blank" rel="noopener noreferrer">
        <img src="/public/images/scheduler.PNG" alt="Image of work day scheduler.">
    </a>
    <div class='btnContainer'>
        <a href="https://github.com/campe0n" target='_blank' rel='noopener noreferrer'><button>GitHub</button></a>
    </div>
</div>