<div class='viewContainer'>
    <div class='projectContainer'>
        <h1>Holiday Search</h1>
        <a href="https://github.com/gannacon/Project_1" class='projectImage' target="_blank" rel="noopener noreferrer">
            <img src="/images/holidaysearchss.png" alt='Image of holiday search.'>
        </a>
        <h1>The Event Planning Site</h1>
        <a href="https://github.com/brownnicholasj/the-event-planning" class='projectImage' target="_blank"
            rel="noopener noreferrer">
            <img src="/images/eventplanning.PNG" alt="Image of event planning.">
        </a>
        <h1>Day Scheduler</h1>
        <a href="https://github.com/campe0n/dplanner_mf" class='projectImage' target="_blank" asdf
            rel="noopener noreferrer">
            <img src="/images/scheduler.PNG" alt="Image of work day scheduler.">
        </a>
    </div>
</div>