<div class='viewContainer'>
    <div class='contentContainer'>
        <h2>Full Stack Developer</h2>
        <p>Phone: 913-954-1199</p>
        <p>E-mail: melvinrf@Outlook.com</p>
        <p>
            Full Stack developer with experience in Tailwind CSS. My greatest strengths
            are working alone and being resourceful. These strengths are helpful
            when it comes to writing and debugging code.
        </p>
        <h2>Experience</h2>
        <h2>Education</h2>
        <h2>Skills</h2>
        <h2>Certifications</h2>
    </div>
</div>