<div class='viewContainer'>
    <h2 class='viewTitle'>Resume</h2>
    <h3 class='viewHeading'>Education</h3>
    <p>Highschool Education: Kansas City Christian School</p>
    <h3 class='viewHeading'>Work</h3>
    <p>Dominos: year</p>
    <h3 class='viewHeading'>Skills</h3>
    <p>Experience with Tailwind CSS</p>
</div>