<div class='viewContainer'>
    <h2>Resume</h2>
    <h3>Education</h3>
    <p>Highschool Education: Kansas City Christian School</p>
    <h3>Work</h3>
    <p>Dominos: year</p>
    <h3>Skills</h3>
    <p>Experience with Tailwind CSS</p>
    <a href="/"><button>Home</button></a>
</div>