<div class='viewContainer'>
    <div class='contentContainer'>
    <h1>Melvin Finn</h1>
        <h2>Full Stack Developer</h2>
        <div class='contactinfo'>
            <div class='infoDiv'>
                <p class='contactHeader'>Phone</p>
                <p class='contactContent'>913-954-1199</p>
            </div>
            <div class='infoDiv'>
                <p class='contactHeader'>Email</p>
                <p class='contactContent'>melvinrf@Outlook.com</p>
            </div>
        </div>
        <p>
            Full Stack developer with experience in Tailwind CSS. My greatest strengths
            are working alone and being resourceful. These strengths are helpful
            when it comes to writing and debugging code.
        </p>
        <h1>Experience</h1>
        <div class='xpRow'>
            <div class='left'>
                <p>2020-11 to Present</p>
            </div>
            <div class='right'>
                <p class='header'>Domino's</p>
                <p class='subH'>Delivery Expert</p>
                    <ul class='resumeItem'>
                        <li class='resumeItem'>Manage deliveries</li>
                        <li class='resumeItem'>Maintain a healthy and inviting store state</li>
                        <li class='resumeItem'>Help with other tasks such as cut line, boxes and stocking store items</li>
                    </ul>
            </div>
        </div>
        <div class='xpRow'>
           <div class='left'>
               <p>2018-6 to 2020-6</p>
           </div> 
            <div class='right'>
                <p class='header'>You're The Boss</p>
                <p class='subH'>Mover</p>
                    <ul class='resumeItem'>
                        <li class='resumeItem'>Move furniture quickly and without damage</li>
                        <li class='resumeItem'>Drive moving vehicles from location to location</li>
                        <li class='resumeItem'>Help with other tasks such as cut line, folding and stocking boxes and stocking store items</li>
                    </ul>
            </div>
        </div>
        <h1>Education</h1>
        <div class='xpRow'>
            <div class='left'>
                <p>2018-2020</p>
            </div>
            <div class='right'>
                <p class='header'>Kansas City Christian School</p>
                <ul class='resumeItem'>
                    <li class='resumeItem'>High School Diploma, Prairie Village, KS</li>
                </ul>
            </div>
        </div>
        <h1>Skills</h1>
        <p>Can cook minute rice i$n 58 seconds.</p>
        <h1>Certificates</h1>
        <p>Coming Soon</p>
    </div>
</div>